
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

@media (min-width:501px) and (max-width:900px) {
    .logoimg{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;

    }
   .acesse {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    flex-direction: column;
   }
   .inputslogin {
    display: flex;
    margin-left: 6vh;
    margin-bottom: 6vh;
    flex-direction: column;
   }
   .inputslogin label{
    font-size: 2vh;
    font-weight: 500vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
   }
   .inputslogin ::placeholder {
    width: 80vw;
    height: 3vh;
   }
   .inputslogin a {
    display: flex;
    margin-top: 4vh;
   }
   .botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    background-color: #fa0caf;
    outline: none;
    border: none;
    border-radius: 5vh;
    padding-left: 2vh;

   }
   .facalogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
   }
   .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
   }
   
}



